<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfh.touch.mapper.ChatDetailMapper">

    <resultMap id="BaseResultMap" type="com.lfh.touch.model.domain.ChatDetail">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="senderUid" column="sender_uid" jdbcType="INTEGER"/>
            <result property="receiverUid" column="receiver_uid" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="senderDel" column="sender_del" jdbcType="TINYINT"/>
            <result property="receiverDel" column="receiver_del" jdbcType="TINYINT"/>
            <result property="withdraw" column="withdraw" jdbcType="TINYINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="chatId" column="chat_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_uid,receiver_uid,
        content,sender_del,receiver_del,
        withdraw,is_delete,create_time,
        chat_id
    </sql>
</mapper>
